* {
	margin: 0;
	padding: 0;
	user-select: none;
}

@font-face {
	font-family: 'timeFont';
	src: url('../font/DS-DIGIT.TTF');
}

@font-face {
	font-family: 'numFont';
	src: url('../font/AGENCYR.TTF');
}

.fulMax {
	width: 100%;
	height: 100%;
}

.scroll::-webkit-scrollbar {
	width: 7px;
	height: 7px;
}

.min::-webkit-scrollbar {
	width: 4px !important;
}

.scroll::-webkit-scrollbar-thumb {
	background: rgba(160, 160, 160, 0.6);
	border-radius: 4px;
	scrollbar-highlight-color: blue;
}

.scroll::-webkit-scrollbar-track {
	background: rgba(255, 255, 255, 0);
}

html,
body {
	.fulMax();

	font-family: 'Microsoft YaHei', sans-serif;
	overflow: hidden;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}
